<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Opal-Druckservice</a>
        </div>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link"  href="javascript:link.js/link()" id="nav_download">Download</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs">Druckjobs</a></li>
        <li class="nav-item"><a class="nav-link" href="/blocked">Gesperrte Nutzer</a></li>
        <li class="nav-item"><a class="nav-link" href="/critical">Zeitkritische Druckjobs</a></li>
    </ul>

    </div>
</nav>

</body>
</html>